{% extends "base.html" %}

{% block title %} homepage {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock head %}


{% block body %}
    <div id="body-text">
        <h1>Welcome to QuickieHub</h1>
        <p>QuickieHub is where inspiration meets innovation,
            where the language of learning speaks fluently.
            Just as Duolingo has redefined language education and
            Anki has sharpened memory skills,
            QuickieHub stands as the beacon of rapid knowledge acquisition.
            Our platform fuses the best of both world, offering quick,
            effective, and memorable learning experiences.</p>
    </div>
    <div class="group-photo-container">
        <img class="group-photo" src="{{ url_for('static', filename='img/group_photo.jpg') }}" id="group-photo" alt="Group Photo">
      </div>

    <div id="body-text">
        <h1>About Us:</h1>
        <p>QuickieHub is where inspiration meets innovation,
            where the language of learning speaks fluently.
            Just as Duolingo has redefined language education and
            Anki has sharpened memory skills,
            QuickieHub stands as the beacon of rapid knowledge acquisition.
            Our platform fuses the best of both world, offering quick,
            effective, and memorable learning experiences.</p>
        <div class="blank-space"></div>
</div>
{% endblock body %}