{% extends "base.html" %}

{% block title %} homepage {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock head %}


{% block body %}
    <div id="body-text">
        <h1>Welcome to QuickieHub</h1>
        <p>QuickieHub is where inspiration meets innovation,
            where the language of learning speaks fluently.
            Just as Duolingo has redefined language education and
            Anki has sharpened memory skills,
            QuickieHub stands as the beacon of rapid knowledge acquisition.
            Our platform fuses the best of both world, offering quick,
            effective, and memorable learning experiences.</p>
    </div>
    <div class="group-photo-container">
        <img class="group-photo" src="{{ url_for('static', filename='img/group_photo.jpg') }}" id="group-photo" alt="Group Photo">
      </div>

    <div id="body-text">
        <h1>About Us:</h1>
        <p>Who We Are</p>
        <p>
            .     We are Michael V, Roy Z, and Daniel L — three passionate grade 12 students at Dr EP Scarlett Highschool in Calgary, Alberta. United by our love for computer science, 
            we've joined forces to venture into the fascinating world of web development.
        </p>
        <p>Skill Sets</p>
        <p>.     Michael V: Specializes in back-end technologies and NLP. Proficient in Python, Flask, HTML, and CSS

        <p>.     Roy Z: The 'jack-of-all-trades,' comfortable with both front-end and back-end technologies, and focuses on creating seamless user experiences.</p>
            
        <p>.     Daniel L: Our Front-end guru, has a keen eye to detail and loves making things look their best. Works well with HTML, CSS, and Javascript</p>
        <div class="blank-space"></div>
</div>
{% endblock body %}