{% extends "base.html" %}

{% block title %} Create FC {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_deck.css') }}">
{% endblock head %}


{% block body %}
    <h1 style= "margin-top: 100px; text-shadow: 50px, 50px, 65px, #000000;">Create Flash Cards</h1>

    <form class = "askDeck" method="post">
        {{ form.hidden_tag() }}
        <p class = "input">{{ form.name.label }}<br>{{ form.name(size=20) }}</p>
        <p class = "input">{{ form.private.label }}{{ form.private }}</p>
        
        <div id="dynamic_card_fields">
            <!-- Javascript will populate this -->
        </div>
    
        <p class="button">{{ form.submit() }}</p>
    </form>
{% endblock body %}

{% block scripts %}
<script>
    // This may not work i havnt tested it yet. We need basically all the functions beafore we can test
    document.addEventListener("DOMContentLoaded", function() {
        const numCardsField = document.querySelector("input[name='num_cards']");
        const dynamicCardFields = document.getElementById("dynamic_card_fields");
    
        function createCardFields(num) {
            dynamicCardFields.innerHTML = "";
            for (let i = 1; i <= num; i++) {
                dynamicCardFields.innerHTML += `
                    <p>Question ${i}<br><input type="text" name="question${i}" size="50"></p>
                    <p>Answer ${i}<br><input type="text" name="answer${i}" size="50"></p>
                `;
            }
        }
    
        numCardsField.addEventListener("input", function() {
            const num = parseInt(this.value);
            createCardFields(num);
        });
    });
    </script>
{% endblock scripts %}