{% extends "base.html" %}

{% block title %} Create FC {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock head %}


{% block body %}
    <h1 style= "margin-top: 200px; text-shadow: 50px, 50px, 65px, #000000;">Create Flash Cards</h1>

    <form>
        <input type="text" id="question" name="question"><br>
        <input type="text" id="answer" name="answer">

        <input type="text" id="question" name="question"><br>
        <input type="text" id="answer" name="answer">

        <input type="text" id="question" name="question"><br>
        <input type="text" id="answer" name="answer">

        <input type="text" id="question" name="question"><br>
        <input type="text" id="answer" name="answer">

      </form>
{% endblock body %}