{% extends "base.html" %}

{% block title %} homepage {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock head %}

{% block body %}
    <h1>Browse Flash Cards</h1>

    <h3>Your Decks:</h3>

    {% for deck in user_all_decks %}
    <li class = "dks"><a href="{{ url_for('flash_cards.view_Deck', deck_id=deck.id) }}">{{ deck.name }}</a></li>
    {% endfor %}

    <h3>Browse Decks:</h3>

    {% for deck in all_decks %}
    <li class="dks">
        <a href="{{ url_for('flash_cards.pub_view_Deck', deck_id=deck.id) }}">
            {{ deck.name }}
            <p>Created By: {{ deck.creator.display_name }}</p>
        </a>
    </li>
{% endfor %}

    <!-- Clickable streek icon -->
    <div id="user-icon-container">
        <img class="streek-img" id="user-icon" src="{{ url_for('static', filename='img/flame.png') }}" alt="Streek Icon">
        <!-- Icon needs background removed and conversion to png idk how too -->
    </div>
    
    <!-- Hidden dropdown content -->
    <div id="user-details-dropdown" class="hidden">
        <ul class = "streek">
        <li class = "streekli">Streek: <span id="streek">{{ user_details.streek }}</span></li>
        <li class = "streekli">Points: <span id="points">{{ user_details.points }}</span></li>
        <li class = "streekli">Multiplier: <span id="multiplier">{{ user_details.multiplier }}</span></li>
        </ul>
    </div>
{% endblock body %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        // Get the elements
        const userIcon = document.getElementById("user-icon");
        const userDetailsDropdown = document.getElementById("user-details-dropdown");

        // Add click event listener
        userIcon.addEventListener("click", function() {
            if (userDetailsDropdown.classList.contains("hidden")) {
            userDetailsDropdown.classList.remove("hidden");
            } else {
            userDetailsDropdown.classList.add("hidden");
            }
        });
        });
    </script>
{% endblock scripts %}