{% extends "base.html" %}

{% block title %} Create FC {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/FC.css') }}">
{% endblock head %}


{% block body %}
    <h1>View Deck {{ deck }}</h1>

    {% for flashCard in flashcards %}
    <div class="flash-card" onclick="toggleCard(this)">
        <div class="front">
            <p>{{ flashCard.question }}</p>
        </div>
        <div class="back" style="display: none;">
            <p>{{ flashCard.answer }}</p>
        </div>
        <form action="{{ url_for('flash_cards.delete_FlashCard', flashcard_id=flashCard.id, deck_id=deck.id) }}" method="post" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
    </div>
{% endfor %}

   <p class ="addCard"><a href ="{{ url_for('flash_cards.create_Flash_Cards', deck_id=deck.id) }}">create flashcard</a></p>
    
{% endblock body %}

{% block scripts %}
<script>
    function toggleCard(flashCard) {
    const front = flashCard.querySelector('.front');
    const back = flashCard.querySelector('.back');
    
    if (front.style.display === 'none') {
        front.style.display = 'block';
        back.style.display = 'none';
    } else {
        front.style.display = 'none';
        back.style.display = 'block';
    }
}
</script>
{% endblock scripts %}