{% extends "base.html" %}

{% block title %} Create FC {% endblock title %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock head %}


{% block body %}
    <h1 style= "margin-top: 200px; text-shadow: 50px, 50px, 65px, #000000;">View Deck {{ deck }}</h1>

   {% for flashCard in flashcards %}

        <strong>{{ flashcard.question }}</strong>
        <p>{{ flashcard.answer }}</p>

   {% endfor %}

   <a href ="{{ url_for('flash_cards.create_Flash_Cards', deck_id=deck.id) }}">create flashcard</a>
    
{% endblock body %}

{% block scripts %}

{% endblock scripts %}