#user-icon-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  #user-details-dropdown {
    position: fixed;
    bottom: 50px;
    right: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .hidden {
    display: none;
  }

  .streek-img {
    width: 50px;
    height: 50px;
  }
  
  .dks{
    border-color: rgb(0, 110, 15);
    border-width: 5px;
    border-radius: 25px;
    border-style: outset;
    text-align: center;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #62ff8e5e;

  }

  .dks:hover:not(.active){
    border-style: outset;
    background-color:#62ff8e5e;
  }
  .dks:hover:not(.active){
    border-style: inset;
    background-color: #0090295e;
  }

  li a{
    text-decoration: none;
    font-size: 50px;
    font-family: 'Varela Round', sans-serif;
    color: white;
  }
  
h1 {
    margin-top: 100px;
    color: #FFFFFF;
    text-shadow: -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, 2px 2px 2px rgba(255,255,255,0);
}