#user-icon-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

#user-icon-container:hover {
  background-color: #ff8c00;
}
  
#user-details-dropdown {
  position: fixed;
  bottom: 50px;
  right: 10px;
  padding: 10px;
}
  
  .hidden {
    display: none;
  }

  .streek-img {
    width: 50px;
    height: 50px;
  }
  
  .dks{
    border-color: #ff8800;
    border-width: 5px;
    border-radius: 25px;
    border-style: outset;
    text-align: center;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #ffa6005e;

  }

  .dks:hover:not(.active){
    border-style: outset;
    background-color:#ff88005e;
  }
  .dks:hover:not(.active){
    border-style: inset;
    background-color: #ff7b005e;
  }

  li a{
    text-decoration: none;
    font-size: 50px;
    font-family: 'Varela Round', sans-serif;
    color: white;
  }

  .streekli {
    display: block;
    color: white;
    font-size: 1.25rem;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    border-radius: 8px;
    background-color: #333333;
    transition: background-color 0.3s; 
}

.streekli:hover {
    background-color: #ff8c00; 
    color: #ffffff; 
}

.streekli a {
  color: #ff8c00;
}

.streekli a:hover {
  text-decoration: underline;
}


h1{
  margin-top: 50px;
  text-align: center;
}
#body-text {
  padding: 10px 80px;
}

h1 {
  font-size: 5rem;
  color: white;
  text-shadow: 50px, 50px, 65px, #000000;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  line-height: 1.5;
}
