.leaderboard-title {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
}

.leaderboard-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.leaderboard-table {
    width: 400px;
    border-collapse: collapse;
    margin: auto;
}

.leaderboard-table th, .leaderboard-table td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
}

.leaderboard-table th {
    background-color: #f2f2f2;
}

.leaderboard-table tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.leaderboard-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

h1 {
    margin-top: 100px;
    color: #FFFFFF;
    text-shadow: -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, 2px 2px 2px rgba(255,255,255,0);
}